# This file contains all variables for BOTH the local development
# environment (compose.yaml) and the local production test environment
# (compose.prod-test.yaml). Copy to .env and use for local setup.

# --- Variables for Standard Development (compose.yaml) ---
DB_USER=plse
DB_PASSWORD=defaultTestPassword
DB_NAME=expunger_db
DJANGO_SECRET_KEY=default_secret_key
SUPERUSER_USERNAME=plse
SUPERUSER_PASSWORD=defaultTestPassword
DJANGO_LOG_LEVEL=INFO

# --- Variables for Production Image Testing (compose.prod-test.yaml) ---
TEST_DB_USER=plse
TEST_DB_PASSWORD=defaultTestPassword
TEST_DB_NAME=expunger_db
TEST_DJANGO_SECRET_KEY=default_secret_key
TEST_SUPERUSER_USERNAME=plse
TEST_SUPERUSER_PASSWORD=defaultTestPassword
TEST_DJANGO_LOG_LEVEL=INFO
TEST_DJANGO_DEBUG=False
