form.generator {
    margin: 0 5%;
}

.invalid-warning {
    background-color: rgb(213, 80, 80);
    color: white;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
}

.invalid-input-section {
    margin-left: 16px;
}

.generate-button {
    margin-top: 16px;
    margin-bottom: 28px;
}

#returnToLoginButton {
    background-color : white;
    color:#405664;
    border-color : #405664; 
} 

#ExpungeButton {
    background-color : #0a5688;
    margin-top : 20px;
    border-color : #0a5688;
    width : 100%;
}
