form.generator {
    margin: 3% 5%;
}

.invalid-warning {
    background-color: rgb(213, 80, 80);
    color: white;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
}

.invalid-input-section {
    margin-left: 16px;
}

#returnToLoginButton {
    background-color : white;
    color:#405664;
    border-color : #405664; 
}
