#searchButton {
    background-color : #405664;
    color : white;
    margin-top : 10px;
    border-color : #405664; 
}

#uploadButton {
    background-color : #405664;
    color : white;
    margin-top : 10px;
    border-color : #405664; 
}